@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap");
:root {
  --primaryColor: #222e3a;
  --secondaryColor: #cdb28d;
  --titleColor: #0e0e0e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  z-index: 10;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primaryColor) !important;
}

h1 {
  font-family: "Playfair Display", serif !important;
}

nav,
.landing {
  font-family: "Playfair Display", serif !important;
}

img {
  width: 100% !important;
  height: 100% !important;
}

.form-control {
  padding: 16px !important;
  margin: 8px auto !important;
  border-radius: 0 !important;
  border: 1px solid var(--primaryColor);
}

input.form-control {
  height: 52px !important;
}

.btn-submit {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border-radius: 0 !important;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

.instaSlider .swiper-wrapper {
  margin-bottom: 5rem !important;
}
.ig_post_container img,
.ig_post_container video {
  height: 16.25rem !important;
  object-fit: cover;
}
.ig_post_details {
  padding: 1rem;
  background: var(--secondaryColor);
}

.ig_post_details > div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  /* display: block; */
}
.ig_post_details .ig_view_link {
  margin-top: 3rem;
}
.ig_post_details .ig_view_link a {
  font-family: "Playfair Display", serif !important;
  color: var(--primaryColor);
}

.landing-bkg-container {
  transition: all 1s linear;
}

.links {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin: 0 23px;
  transition: all 0.5s ease;
}
.links:hover {
  color: #fff;
  transform: scale(1.2);
}
.contact {
  transition: all 0.5s ease;
}
.contact:hover {
  transform: scale(1.2);
}

.btn-social {
  display: block;
  padding: 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
}
.btn-phone {
  display: block;
  padding: 12px;
  border: 1px solid white;
  border-radius: 50%;
}
.l-container {
  display: flex;
  align-items: center;
}
.l-content {
  width: 40%;
}
.l-thumbnails {
  align-self: flex-end;
  width: 60%;
}
.thumbnail {
  border: 5px solid transparent;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 0 0.5rem 1rem var(--primaryColor) !important;
}
.thumbnail:hover {
  transform: scale(1.05);
}
.thumbnail.active {
  border: 5px solid var(--secondaryColor);
}

.bg-main {
  background-color: var(--primaryColor) !important;
}
.bg-beige {
  background-color: var(--secondaryColor) !important;
}
/* SWIPER CUSTOM CSS STARTS */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--primaryColor) !important;
  font-size: 1rem !important;
  font-weight: 900;
}
.instaSlider .swiper-button-next {
  left: 51% !important;
  right: auto !important;
}
.instaSlider .swiper-button-prev {
  right: 51% !important;
  left: auto !important;
}
.landing-container .swiper-button-prev {
  left: 10px;
  right: auto !important;
}
.landing-container .swiper-button-next {
  left: 70px;
  right: auto !important;
}
.decor-swiper-container .swiper-button-prev {
  right: 51% !important;
  left: auto !important;
}
.decor-swiper-container .swiper-button-next {
  left: 51% !important;
  right: auto !important;
}
.swiper-button-next,
.swiper-button-prev {
  top: auto !important;
  bottom: 2% !important;
  background-color: #fff !important;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  /* transform: translateX(-11%); */
}
/* SWIPER CUSTOM CSS ENDS */

.story-container .story-content {
  width: 59%;
  text-align: justify;
}
.story-container .story-content h1 {
  font-size: 58px;
}

.story-container .story-image {
  width: 39%;
  text-align: center;
}

.story-container .story-image .services {
  margin-top: 17rem;
}

.story-container .story-image .services img {
  height: 41px !important;
  margin-bottom: 1rem;
}

.gallery-container .title-container {
  padding-top: 7rem;
}

.gallery-container .title {
  background-color: var(--primaryColor) !important;
  margin-left: 8.15rem;
  width: 90%;
}

.gallery-container .title h1 {
  font-size: 58px !important;
}

.gallery-container .images-container {
  margin-top: 5rem;
}

.testimonials-container {
  min-height: 615px;
}

.testimonials-container .title h1 {
  font-size: 58px;
}
.testimonials-container .swiper-wrapper {
  margin-top: 15%;
}

.review-card .review {
  height: 175px;
}

@media only screen and (max-width: 600px) {
  .d-only {
    display: none !important;
  }
  .contact:hover {
    transform: scale(1) !important;
  }
  .nav-link img {
    width: min-content !important;
    height: auto !important;
  }
  .btn-phone {
    width: 52px;
    height: 53px;
  }
  nav {
    background-color: var(--secondaryColor) !important;
  }
  .navbar-toggler {
    background-color: var(--secondaryColor) !important;
  }
  h1 {
    width: 100%;
    font-size: 48px !important;
  }
  .l-container {
    display: flex;
    justify-content: space-evenly !important;
    flex-direction: column !important;
  }
  .l-content {
    width: 100%;
  }
  .l-thumbnails {
    width: 100vw !important;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .square-elem {
    display: none !important;
  }
  .landing {
    height: 100vh;
    margin: 0 0 3rem;
    /* border: 1px dashed white; */
  }
  .gallery {
    margin: 2rem 0 3rem;
    min-height: auto;
    width: 100%;
  }
  .decor {
    width: 100% !important;
    margin-bottom: 3rem;
  }
  .story {
    margin: 2rem 0 3rem;
    height: 100vh;
  }
  .testimonials {
    margin: 2rem 0 3rem;
    height: max-content;
  }
  .instagram {
    margin: 2rem 0 3rem;
  }
  .contact-us {
    margin: 2rem 0 3rem;
  }
  .story-container .container > .d-flex {
    display: flex !important;
    flex-direction: column;
  }
  .story-container .story-content {
    width: 100%;
    height: 75% !important;
  }
  .story-container .story-image {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    height: 25% !important;
  }
  .story-container .story-image > .position-absolute {
    position: static !important;
    width: 30% !important;
    height: auto;
    margin-top: auto !important;
  }
  .story-container .story-image > .position-absolute img {
    margin-top: auto !important;
    /* width: 125px !important;
    height: 125px !important; */
  }
  .story-container .story-image > .services {
    width: 70%;
    margin-top: auto !important;
  }

  .decor-container .vh-100 {
    height: 65vh !important;
  }
  .decor-content .heading {
    margin-left: 1.5rem;
    width: 75% !important;
  }

  .gallery-container .title-container {
    padding-top: 0 !important;
  }

  .gallery-container .title-container > .title {
    margin-left: 0 !important;
    width: 100%;
  }
  .gallery-container > .m-images-container {
    overflow: auto !important;
  }
  .gallery-container > .m-images-container .images1,
  .gallery-container > .m-images-container .images2 {
    display: flex;
    width: 300vw !important;
  }
  .gallery-container > .m-images-container .images1 .food-image,
  .gallery-container > .m-images-container .images2 .food-image {
    width: 150px !important;
    height: 195px !important;
    margin: auto 1rem;
  }

  .testimonials-container {
    min-height: auto !important;
    padding: 0 !important;
  }
  .testimonials-container > div {
    margin: auto !important;
  }

  .review-card .review {
    height: 250px !important;
  }

  .contact-container {
    flex-direction: column;
  }
  .contact-container .w-50 {
    width: 100% !important;
  }
  .contact-container .mx-5 {
    margin: 0 !important;
    background-color: #fff !important;
    color: var(--primaryColor) !important;
  }
  .contact-container .content {
    padding: 1rem !important;
  }
  .contact-container .content > div h1 {
    font-size: 36px !important;
  }
  .contact-container .content > div p {
    font-size: 14px !important;
  }
  .contact-container .form {
    padding: 1rem !important;
  }
  .contact-container .form > div {
    padding: 2rem 1rem !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .d-only {
    display: none !important;
  }
  .contact:hover {
    transform: scale(1) !important;
  }
  .nav-link img {
    width: min-content !important;
    height: auto !important;
  }
  .btn-phone {
    width: 52px;
    height: 53px;
  }
  nav {
    background-color: var(--secondaryColor) !important;
  }
  .navbar-toggler {
    background-color: var(--secondaryColor) !important;
  }
  h1 {
    width: 100%;
    font-size: 48px !important;
  }
  .l-container {
    display: flex;
    justify-content: space-evenly !important;
    flex-direction: column !important;
  }
  .l-content {
    width: 100%;
  }
  .l-thumbnails {
    width: 100vw !important;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .square-elem {
    display: none !important;
  }
  .landing {
    height: 100vh;
    margin: 0 0 3rem;
    /* border: 1px dashed white; */
  }
  .gallery {
    margin: 2rem 0 3rem;
    min-height: auto;
    width: 100%;
  }
  .decor {
    width: 100% !important;
    margin-bottom: 3rem;
  }
  .story {
    margin: 2rem 0 3rem;
    height: 100vh;
  }
  .testimonials {
    margin: 2rem 0 3rem;
    height: max-content;
  }
  .instagram {
    margin: 2rem 0 3rem;
  }
  .contact-us {
    margin: 2rem 0 3rem;
  }
  .story-container .container > .d-flex {
    display: flex !important;
    flex-direction: column;
  }
  .story-container .story-content {
    width: 100%;
    height: 75% !important;
  }
  .story-container .story-image {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    height: 25% !important;
  }
  .story-container .story-image > .position-absolute {
    position: static !important;
    width: 30% !important;
    height: auto;
    margin-top: auto !important;
  }
  .story-container .story-image > .position-absolute img {
    margin-top: auto !important;
    /* width: 125px !important;
    height: 125px !important; */
  }
  .story-container .story-image > .services {
    width: 70%;
    margin-top: auto !important;
  }

  .decor-container .vh-100 {
    height: 65vh !important;
  }
  .decor-content .heading {
    margin-left: 1.5rem;
    width: 75% !important;
  }

  .gallery-container .title-container {
    padding-top: 0 !important;
  }

  .gallery-container .title-container > .title {
    margin-left: 0 !important;
    width: 100%;
  }
  .gallery-container > .m-images-container {
    overflow: auto !important;
  }
  .gallery-container > .m-images-container .images1,
  .gallery-container > .m-images-container .images2 {
    display: flex;
    width: 300vw !important;
  }
  .gallery-container > .m-images-container .images1 .food-image,
  .gallery-container > .m-images-container .images2 .food-image {
    width: 150px !important;
    height: 195px !important;
    margin: auto 1rem;
  }

  .testimonials-container {
    min-height: auto !important;
    padding: 0 !important;
  }
  .testimonials-container > div {
    margin: auto !important;
  }

  .review-card .review {
    height: 250px !important;
  }

  .contact-container {
    flex-direction: column;
  }
  .contact-container .w-50 {
    width: 100% !important;
  }
  .contact-container .mx-5 {
    margin: 0 !important;
    background-color: #fff !important;
    color: var(--primaryColor) !important;
  }
  .contact-container .content {
    padding: 1rem !important;
  }
  .contact-container .content > div h1 {
    font-size: 36px !important;
  }
  .contact-container .content > div p {
    font-size: 14px !important;
  }
  .contact-container .form {
    padding: 1rem !important;
  }
  .contact-container .form > div {
    padding: 2rem 1rem !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .m-only {
    display: none !important;
  }
  .landing {
    height: 100vh;
    margin: 0 0 10rem;
    /* border: 1px dashed white; */
  }
  .gallery {
    margin: 2rem 0 10rem;
    min-height: 100vh;
  }
  .story {
    margin: 2rem 0 10rem;
    height: 80vh;
  }
  .testimonials {
    margin: 2rem 0 10rem;
    height: 100vh;
  }
  .instagram {
    margin: 2rem 0 10rem;
  }
  .contact-us {
    margin: 2rem 0 10rem;
  }
  .landing-container .image-holder {
    height: 303px !important;
  }

  .navbar-fixed-top.scrolled {
    background-color: var(--secondaryColor) !important;
    transition: background-color 200ms linear;
  }

  .story-container .square-elem {
    border: 3px solid rgba(34, 46, 58, 0.3);
    height: 80%;
    left: -10%;
    width: 237px;
    top: 50%;
    transform: translateY(-50%);
  }
  .story-container .story-image > div {
    top: -53px;
  }
  .story-container .story-content .story-text {
    background-color: var(--secondaryColor) !important;
    top: 50%;
    transform: translateY(-50%) !important;
  }

  .decor-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, 0.3);
    top: 10%;
    left: 25%;
    height: 367px !important;
    width: 390px !important;
  }
  .decor-container .heading {
    font-size: 58px;
    margin-left: 3.5rem;
    margin-top: 7rem;
    background-color: var(--primaryColor) !important;
  }

  .gallery-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, 0.3);
    top: 35%;
    right: -22px;
    height: 367px !important;
    width: 390px !important;
  }

  .testimonials-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(205, 178, 141, 0.27);
    left: 4%;
    height: 367px !important;
    width: 390px !important;
  }
  .testimonials-container .title {
    position: absolute;
    left: 20%;
    top: 70px;
    transform: translateX(-13%);
  }

  .contact-container .content h1 {
    font-size: 58px;
  }

  .contact-container .form .form-body,
  .contact-container .form .form-button {
    margin: auto 5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
  .m-only {
    display: none !important;
  }
  .landing {
    height: 100vh;
    margin: 0 0 10rem;
    /* border: 1px dashed white; */
  }
  .gallery {
    margin: 2rem 0 5rem;
    min-height: 100vh;
  }
  .story {
    margin: 2rem 0 5rem;
    height: 80vh;
  }
  .testimonials {
    margin: 2rem 0 5rem;
    height: 100vh;
  }
  .instagram {
    margin: 2rem 0 5rem;
  }
  .contact-us {
    margin: 2rem 0 5rem;
  }
  .story-container .square-elem {
    border: 3px solid rgba(34, 46, 58, 0.3);
    height: 80%;
    left: -10%;
    width: 237px;
    top: 50%;
    transform: translateY(-50%);
  }
  .story-container .story-image > div {
    top: -53px;
  }
  .story-container .story-content .story-text {
    background-color: var(--secondaryColor) !important;
    top: 50%;
    transform: translateY(-50%) !important;
  }

  .decor-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, 0.3);
    top: 7.5%;
    left: 40%;
    height: 367px !important;
    width: 390px !important;
  }

  .gallery-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, 0.3);
    top: 35%;
    right: -22px;
    height: 367px !important;
    width: 390px !important;
  }

  .testimonials-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(205, 178, 141, 0.27);
    left: 4%;
    height: 367px !important;
    width: 390px !important;
  }
  .testimonials-container .title {
    position: absolute;
    left: 20%;
    top: 70px;
    transform: translateX(-13%);
  }
}
@media only screen and (min-width: 2560px) {
  .m-only {
    display: none !important;
  }
  nav a:not(nav .nav-link.contact) {
    font-size: 2rem !important;
  }
  h1 {
    font-size: 8rem !important;
  }
  .gallery-container .title h1 {
    font-size: 8rem !important;
  }
  p {
    font-size: 1.5rem !important;
  }
  .container {
    max-width: 1920px !important;
  }
  .l-content {
    width: 50%;
  }
  .l-thumbnails {
    align-self: flex-end;
    width: 50%;
  }
  .story-container .square-elem {
    border: 3px solid rgba(34, 46, 58, 0.3);
    height: 80%;
    left: -10%;
    width: 237px;
    top: 50%;
    transform: translateY(-50%);
  }
  .story-container .story-image > div {
    top: -53px;
  }
  .story-container .story-content .story-text {
    background-color: var(--secondaryColor) !important;
    top: 50%;
    transform: translateY(-50%) !important;
  }

  .decor-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, 0.3);
    top: 5%;
    left: 60%;
    height: 367px !important;
    width: 390px !important;
  }

  .gallery-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, 0.3);
    top: 35%;
    right: -22px;
    height: 367px !important;
    width: 390px !important;
  }
  .gallery-container .title {
    width: 70% !important;
    margin-left: 36rem !important;
  }

  .testimonials-container .square-elem {
    z-index: -1;
    border: 3px solid rgba(205, 178, 141, 0.27);
    left: 4%;
    height: 367px !important;
    width: 390px !important;
  }
  .testimonials-container .title {
    position: absolute;
    left: 20%;
    top: 70px;
    transform: translateX(-13%);
  }
}
